<h1>Hi <%= @band_member.full_name %>, Welcome back!</h1>
  <h2>Edit Your Information</h2>
    <%= form_for(@band_member) do |f| %>

      <%= f.text_field :first_name %>
      <%= f.label :first_name %><br>

      <%= f.text_field :last_name %>
      <%= f.label :last_name %><br>

      <%= f.text_field :street %>
      <%= f.label :street %><br>

      <%= f.text_field :apt %>
      <%= f.label :apt %><br>

      <%= f.text_field :city %>
      <%= f.label :city %><br>

      <%= f.text_field :state %>
      <%= f.label :state %><br>

      <%= f.number_field :zip %>
      <%= f.label :zip %><br>

      <%= f.email_field :email %>
      <%= f.label :email %><br>

      <%= f.phone_field :phone %>
      <%= f.label :phone %><br>


      <%= f.date_field :birthday %>
      <%= f.label :birthday %><br>

      <%= f.text_field :instrument %>
      <%= f.label :instrument %><br>

      <%= f.text_field :notes %>
      <%= f.label :notes %><br>

      <legend>Bands</legend>
      <% @bands.each do |band| %>
        <%= f.radio_button :band_id , band.id %> <%= f.label :band_id, band.name %>
      <% end %>

      <br>

      <%= f.submit %>
    <% end %>
