<h1>Hi Current Crush Employee!</h1>
  <h2>Edit Your Information</h2>
    <%= form_for(@manager) do |f| %>

      <%= f.text_field :first_name %>
      <%= f.label :first_name %><br>

      <%= f.text_field :last_name %>
      <%= f.label :last_name %><br>

      <%= f.text_field :street %>
      <%= f.label :street %><br>

      <%= f.text_field :apt %>
      <%= f.label :apt %><br>

      <%= f.text_field :city %>
      <%= f.label :city %><br>

      <%= f.text_field :state %>
      <%= f.label :state %><br>

      <%= f.number_field :zip %>
      <%= f.label :zip %><br>

      <%= f.email_field :email %>
      <%= f.label :email %><br>

      <%= f.phone_field :phone %>
      <%= f.label :phone %><br>

      <%= f.text_field :ext %>
      <%= f.label :ext %><br>

      <legend>Primary Office</legend>
      <% @offices.each do |office| %>
        <%= f.radio_button :office_id , office.id %> <%= f.label :office_id, office.name %>
      <% end %>

      <br>

      <%= f.submit %>




      <% end %>
