<!DOCTYPE html>
<html>
  <head>
    <title>Manager Master Lists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--  navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <% if session[:manager_id] %>
            <%= link_to "Hello, #{current_manager.full_name}!", manager_path(current_manager), class: "navbar-brand" %>
            <span class="navbar-brand"> | </span>
            <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
            <span class="navbar-brand"> | </span>
            <%= link_to "Create a New Band", new_band_path, class: "navbar-brand" %>
            <span class="navbar-brand"> | </span>
            <%= link_to "Create a New Band Member", new_band_member_path, class: "navbar-brand" %>
            <span class="navbar-brand"> | </span>
            <%= link_to "Sign Out", signout_path, method: :delete, class: "navbar-brand" %>
          <% else %>
            <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
            <span class="navbar-brand"> | </span>
            <%= link_to "Sign In", signin_path, class: "navbar-brand" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">

    <!-- <img src="http://crushmusic.com/images/logo.png" alt="Crush Music Logo" height="96" width="300"> -->
    <%= yield %>

  </div>
  </body>
</html>
