
<h1>All Crush Offices</h1>

<ol>

    <% @offices.each do |office| %>
    <li>
      <p>
        <u><%= link_to office.name, office_path(office) %></u><br>

          <% if office.street != nil %>
          
            <%= office.street %><br>
            <%== "#{office.suite} <br />"  if office.suite == " " %>
            <%= office.city_state_zip %>

            <br>
            <%= office.phone %>
            <br>

          <% end %>
        </p>
      </li>
    <% end %>

</ol>
